@import url('variables.css');
@import url('window.css');
@import url('animations.css');
@import url('notifications.css');

html {
  background-color: var(--color-content-background);
  color: var(--color-content);
  height: 100vh;
  width: 100vw;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  background-image: url("data:image/svg+xml;utf-8,\
      <svg width='16px' height='16px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'>\
          <circle cx='8' cy='8' r='1.25' fill='rgba(255,255,255,0.5)' />\
      </svg>");
  background-repeat: repeat;
  background-position: calc(var(--spacing-base) * 0.5) calc(var(--spacing-base) * 0.5);
  background-size: auto auto;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jtk-drag-select * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}
