@import 'variables';
@import 'animations';
@import 'notifications';
@import 'card';
@import 'connectors';
@import 'popovers';
@import 'controls';

html {
  background-color: var(--color-content-background);
  color: var(--color-content);
  height: 100vh;
  width: 100vw;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jtk-drag-select * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}

.page-tools {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: var(--spacing-base);
  font-size: var(--font-size-base);
  font-weight: bold;
  display: flex;
  list-style: none;

   * + * {
     margin-left: var(--spacing-base);
   }
}