/* Connectors */    
path, g, rectangle, circle {
  cursor: pointer;
  transition: fill var(--transition-base-duration-and-timing), stroke var(--transition-base-duration-and-timing);
}

.jtk-endpoint.jtk-hover {
  animation: scale-pulse alternate infinite;
  animation-duration: 0.5s;
}
.jtk-endpoint.dragActive {
  animation: scale-pulse alternate infinite;
  animation-duration: 1.2s;
}

.jtk-overlay {
  background-color: var(--color-content-background);
  border-radius: 100px;
  padding: 2px 4px;
}