/* Notifications */

.notifications {
  list-style: none;
  margin: calc(var(--spacing-base));
  padding: 0;
}

.notifications li {
  padding: 0;
  margin: calc(var(--spacing-base) / 2);
  margin-right: auto;
}

.notifications li p {
  margin: 0;
  display: inline-block;
  background-color: var(--color-window-background-hsla-hover);
  padding: calc(var(--spacing-base) / 2);
  border-radius: calc(var(--border-radius-base) / 2);
}
