// Popovers

.popover {
  position: relative;

  .popover-toggle {
    &:hover {
      color: var(--color-intent-interaction);
    }
  }

  .popover-content {
    position: absolute;
    left: 100%;
    background-color: #fff;
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-base);
    opacity: 0;
    padding: calc(var(--spacing-base) * .5);
    transform: translateY(-50%);
    font-size: var(--font-size-sm);
  }

  &.popover-open {
    .popover-content {
      opacity: 1;
    }
  }
}