/** Variables **/
:root {
/* General Colors */
  --color-content-background: #eee;
  --color-content: #000;

  --color-blue: #094dff;
  --color-red: #eb001a;
  --color-orange: #f16900;
  --color-yellow: #f8b400;
  --color-green: #4fce31;
  --color-light-blue: #4ab0fc;
  --color-purple: #302cc9;
  --color-pink: #eb0035;

  --color-intent-interaction: var(--color-blue);
  --color-intent-danger: var(--color-red);

  --color-intent-probability-improbable: var(--color-red);
  --color-intent-probability-probable: var(--color-green);


/* Specific Colors */
  --color-card-background-h: 0;
  --color-card-background-s: 0%;
  --color-card-background-l: 100%;
  --color-card-background-a: 1;
  --color-card-background-hsla: hsla(var(--color-card-background-h), var(--color-card-background-s), var(--color-card-background-l), var(--color-card-background-a));
  --color-card-background-hsla-hover: hsla(var(--color-card-background-h), var(--color-card-background-s), var(--color-card-background-l), calc(var(--color-card-background-a) * 0.6));

/* Typography * Layout */
  --font-family-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-weight-base: 400;
  --font-size-base: 14px;
  --font-size-sm: 10px;
  --spacing-base: 8px;
  --z-index-card-base: 24;
  
/* Decorations */
  --shadow-blur: 0px;
  --shadow-position-base: 0 var(--shadow-blur);
  --box-shadow-base: var(--shadow-position-base) var(--shadow-blur) calc(var(--shadow-blur) * -1) var(--color-content);
  --box-shadow-base: 0 0 0 0 transparent, 0 0 3px -2px var(--color-content);
  --border-radius-base: 8px;

  /* Transitions */
  --transition-base-duration-and-timing: .15s ease;
  --transition-base: all var(--transition-base-duration-and-timing);

}