/* Propositions */


.window {
  --window-vertical-padding: var(--spacing-base);
  --window-horizontal-padding: calc(1.5 * var(--spacing-base));

  background-color: var(--color-window-background-hsla);
  box-shadow: 0 0 0 0 transparent, 0 0 3px -2px var(--color-content);
  border-radius: var(--border-radius-base);
  padding: var(--window-vertical-padding) var(--window-horizontal-padding);
  width: calc(18 * var(--spacing-base));
  min-height: calc(15 * var(--spacing-base));
  transition: var(--transition-base);
  transition-property: color, background-color, opacity, box-shadow, backdrop-filter, -webkit-backdrop-filter;
  z-index: var(--z-index-window-base);
  position: absolute;
  line-height: 1.4;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

.window:hover {
  z-index: calc(var(--z-index-window-base) + 10);
}

/* Scrolling area spacing element */
.window:after {
  --window-scrolling-spacing-size: calc(var(--spacing-base) * -5);

  content: '';
  position: absolute;
  pointer-events: none;
  top: var(--window-scrolling-spacing-size);
  bottom: var(--window-scrolling-spacing-size);
  left: var(--window-scrolling-spacing-size);
  right: var(--window-scrolling-spacing-size);
  z-index: -20;
}
/* Hover area spacing element */
.window:before {
  --window-hover-spacing-size: calc(var(--spacing-base) * -3);

  content: '';
  position: absolute;
  top: var(--window-hover-spacing-size);
  bottom: var(--window-hover-spacing-size);
  left: 0;
  right: 0;
  z-index: -10;
  border-radius: 20px;
}

.text {
  font-weight: bold;
  line-height: 1.2;
  margin: 0 calc(var(--window-horizontal-padding) * -1) auto;
  padding: 0 var(--window-horizontal-padding) var(--spacing-base);
  transition: all var(--transition-base-duration-and-timing);
  cursor: text;

  &:hover {
    color: var(--color-intent-interaction);
  }

  &:focus {
    color: var(--color-intent-interaction);
    outline: none;
  }
}

.prior,
.probability {
  opacity: 0.7;
  font-size: var(--font-size-sm);
  margin: 0;
  display: flex;
  font-weight: bold;
}


.label {
  flex: 1 1 100%;
}
.ratio {
  word-spacing: 0;
  white-space: nowrap;
}
.ratio .n {}
.ratio .d {}
.ratio .d:before {
  content: ':'
}

.prior { }

.probability { }


/* Drag Handle */
.window .dragHandle { 
  position: absolute;
  top: calc(var(--spacing-base) * -1.5);
  width: 20%;
  border-radius: 100px;
  background-color: rgba(0,0,0,.2);
  height: calc(var(--spacing-base) * .5);
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
  pointer-events: auto;
  opacity: 0;
  transition: var(--transition-base);
  -webkit-backdrop-filter: blur(calc(var(--spacing-base) * .5));
}

.window:hover .dragHandle {
  opacity: 1;
}
.window:hover .dragHandle:after {
  position: absolute;
  top: calc(var(--spacing-base) * -4);
  right: calc(var(--spacing-base) * -3);
  left: calc(var(--spacing-base) * -3);
  bottom: calc(var(--spacing-base) * -1);
  content: '';
}
.draggable .dragHandle {
  cursor: grab;
}

.jtk-dragged .dragHandle,
.jtk-draggable .dragHandle:active {
  cursor: grabbing;
  background-color: rgba(0,0,0,.5);
}

.tools {
  font-size: var(--font-size-sm);
  font-weight: bold;

  .delete {
    color: var(--color-intent-danger);
    cursor: pointer;
  }
}